
h1 {
	font-family: Arial, sans-serif;
	text-align: center;
}
div {
	width: 800px;
	margin: 20px auto;
	background-color: #c6f66f;
}

body {
	background: #870047;
}

input {
	background: #66e275;
	font-family: Arial;
	border: #008110;
	border-radius: 10px;
}
select {
	background: #66e275;
	font-family: Arial;
	border: #008110;
	border-radius: 10px;
}