/*h1 {
	font-family: Arial, sans-serif;
}
body {
	text-align: center;
	background-color: #476dd5;
}

fieldset {
	background-color: #476dd5;
}
	
table {
	background-color: #6d89d5;
}

legend {
	background-color: #2b4281;
	color: #ffffff;
	border-radius: 10px;

}
input {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #1e6d74;
  'padding: 5px 5px 5px 5px;
  border: solid #015c65 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}*/
h1 {
	font-family: Arial, sans-serif;
	text-align: center;
}
div {
	width: 800px;
	margin: 20px auto;
	background-color: #c6f66f;
}

body {
	background: #870047;
}
#login {
	text-align: center;

}

input {
	background: #66e275;
	font-family: Arial;
	border: #008110;
	border-radius: 10px;
}
select {
	background: #66e275;
	font-family: Arial;
	border: #008110;
	border-radius: 10px;
}